
<h1>Роуты</h1>
<a class="link" href="/mem">Память</a>
<a class="link" href="/proc">Процессор</a>
<a class="link" href="/proc-grep">Процессор (| grep model)</a>
<a class="link" href="/ls">Список папок и файлов</a>
<a class="link" href="/hdd">Загрузка диска</a>
<a class="link" href="/reboot">Ребут компа (linux)</a>